<% content_for :title, @organization.name %>

<!-- Organization -->

<div class="report_title">
	Name: <%= @organization.name %>
</div>

<div class="report_title"> Members: </div>

<% @members.each do |user| %>
<div class="report_title"> 
  <%= link_to user.name, user %>
</div>
<% end %>

<div class="report_title"> Reports: </div>

<% @report.each do |report| %>
<div class="report_title"> 
  <%= link_to report.title, report %>
</div>
<% end %>


<!-- TEMPORARY LINKS -->

<br>
<br>

<div class="report_title">
<%= link_to 'Edit', edit_organization_path(@organization) %>
<br>
<%= link_to 'Destroy', @organization, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<!-- TEMPORARY LINKS END -->